################################################################
#                   PROFILE: DEFAULT (Local)                   #
################################################################

[profile.default]

# Compilation settings
src = 'src'
out = 'forge-artifacts'
script = 'scripts'
optimizer = true
optimizer_runs = 999999
remappings = [
  '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts',
  '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts',
  '@openzeppelin/contracts_v3.1.0/=lib/openzeppelin-contracts_v3.1.0/contracts',
  '@openzeppelin/contracts_v5.0.1/=lib/openzeppelin-contracts_v5.0.1/contracts',
  '@rari-capital/solmate/=lib/solmate',
  '@cwia/=lib/clones-with-immutable-args/src',
  'forge-std/=lib/forge-std/src',
  'ds-test/=lib/forge-std/lib/ds-test/src',
  'safe-contracts/=lib/safe-contracts/contracts',
  '@lib-keccak/=lib/lib-keccak'
]
extra_output = ['devdoc', 'userdoc', 'metadata', 'storageLayout']
bytecode_hash = 'none'
build_info = true
build_info_path = 'artifacts/build-info'

libraries = ["src/tokamak-contracts/USDC/L2/tokamak-USDC/v2/FiatTokenV2_2.sol:SignatureChecker:0x4200000000000000000000000000000000000776"]

# Test / Script Runner Settings
ffi = true
fs_permissions = [
  { access='read-write', path='./.resource-metering.csv' },
  { access='read-write', path='./deployments/' },
  { access='read-write', path='./deploy-config/' },
  { access='read', path='./periphery-deploy-config/' },
  { access='read', path='./broadcast/' },
  { access='read', path = './forge-artifacts/' },
  { access='write', path='./semver-lock.json' },
]

[fuzz]
runs = 64

[fmt]
line_length=120
multiline_func_header='all'
bracket_spacing=true
wrap_comments=true
ignore = ['src/vendor/WNativeToken.sol', 'src/tokamak-contracts/**/*.sol']

################################################################
#                         PROFILE: CI                          #
################################################################

[profile.ci.fuzz]
runs = 512
