name: pnpm-monorepo

on:
  push:
    branches:
      - main

jobs:
  pnpm-monorepo:
    runs-on: ubuntu-latest
    container:
      image: tokamaknetwork/thanos-ci-builder:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Declares the repository safe and not under dubious ownership.
      - name: Add repository to git safe directories
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Check L1 geth version
        run: ./ops/scripts/geth-version-checker.sh || (echo "geth version is wrong, update ci-builder"; exit 1)

      - name: Git submodules
        run: make submodules

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Restore PNPM Package Cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: pnpm-packages-v2-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Fetch dependencies
        run: pnpm fetch --frozen-lockfile --prefer-offline

      - name: Save PNPM Package Cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: pnpm-packages-v2-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install:ci:offline

      - name: Print forge version
        run: forge --version

      - name: Build monorepo
        run: pnpm build

      - name: Persist to workspace
        uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts
          path: |
            packages/**/dist
            packages/tokamak/contracts-bedrock/forge-artifacts

      - name: Generate FPAC allocs
        run: DEVNET_FPAC="true" make devnet-allocs

      - name: Copy FPAC allocs to .devnet-fault-proofs
        run: cp -r .devnet/ .devnet-fault-proofs/

      - name: Generate non-FPAC allocs
        run: make devnet-allocs

      - name: Persist build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: |
            packages/**/dist
            packages/tokamak/contracts-bedrock/cache
            packages/tokamak/contracts-bedrock/artifacts
            packages/tokamak/contracts-bedrock/forge-artifacts
            packages/tokamak/contracts-bedrock/tsconfig.tsbuildinfo
            packages/tokamak/contracts-bedrock/tsconfig.build.tsbuildinfo
            .devnet/allocs-l1.json
            .devnet/addresses.json
            .devnet-fault-proofs/allocs-l1.json
            .devnet-fault-proofs/addresses.json
            packages/tokamak/contracts-bedrock/deploy-config/devnetL1.json
            packages/tokamak/contracts-bedrock/deployments/devnetL1
